body {
    background-color: gray;
}

.marvel {
    width: 750px;
    margin-top: 50px;
    margin-left: 100px;
}

.dc {
    width: 750px;
    margin-left: 100px;
}

h2 {
    text-align: center;
    font-size: 75px;
}

.bunda {
    background-color: aquamarine;
}

